/*stile generale*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
}

h3 {
    color: #0084fd;
    font-size: 25px;
    
}

.product p {
    color: #5e7385;
}

/*--------------------mobile first--------------------*/

/*navigazione*/

nav {
    position: relative;
    min-height: 60px;
}

nav .container {
    position: fixed;
    z-index: 500;
    width: 100%;
    background-color: #0084fd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigazione-destra, .navigazione-sinistra {
    width: 50%;
}

.navigazione-destra {
    display: flex;
    justify-content: end;
}

nav img, nav i {
    cursor: pointer;
    padding: 1rem;
}

nav .non-mobile {
    display: none;
}

.button {
    padding: 4px 8px;
    border-radius: 20px;
    text-decoration: none;
}

/*header desktop*/

@media all and (min-width: 1199px) {

    .navigazione-destra, .navigazione-sinistra {
        width: 30%;
        margin: 0 auto;
    }

    .non-desktop {
        display: none;
    }

     nav .non-mobile {
        width: 100%;
        display: flex;
        justify-content: space-between;
        list-style-type: none;
    }

    .non-mobile .get-started-nav {
        background-color: white;
        color: black;
    }

    .non-mobile li {
        cursor: pointer;
        color: white;
    }
}

/*main, sezione prodotto*/

.product .row {
    display: flex;
    flex-wrap: wrap;
    margin: 5rem 2.5rem 3rem;
    /*debug*/
    min-height: 1000px;
}

.product .col, .grande {
    width: 100%;
    margin-bottom: 2rem;
    background-color: #b5ddff;
    border-radius: 24px;
}

.product .col h3, .product .col p, .app-store, .immagine-demo, .dimensione-font {
    text-align: center;
    margin: 2rem 3rem;
}

.app-store {
    letter-spacing: 4px;
    color: white;
    background-color: #0084fd;
    padding: 10px 35px;
}

.product .immagine-demo {
    width: auto;
    min-height: 200px;
    margin-bottom: -5px;
}

.immagine-demo img {
    width: 100%;
}

.dimensione-font {
    font-size: 40px;
}

/*sezione prodotto tablet*/

@media all and (min-width: 481px) {

    .product .col {
        width: calc((100% / 3) - 10px);
        margin: 5px 5px;
    }

    .product .grande {
        width: calc(((100% / 3) * 2) - 10px);
    }

    .product .immagine-demo {
        width: 50%;
    }
}

/*sezione prodotto desktop*/

@media all and (min-width: 1199px) {

    .product .row {
        width: 80%;
        margin: 5rem auto;
    }

    .product .immagine-demo {
        width: 40%;
        margin-left: 50%;
        margin-bottom: -66px;
    }
}

/*sezione strategia*/

.strategic {
    background-color: #9792e4;
}

.strategic .row {
    width: 90%;
    margin: auto;
    padding: 4rem 0;
}

.strategic .col-bianca {
    background-color: white;
    border-radius: 48px;
    padding-bottom: 50px;
    
}

.strategic img {
    width: 100%;
}

.strategic h2 {
    padding: 25px 0;
    font-size: 35px;
    color: white;
}

.strategic h3, .strategic .black {
    color: black;
    margin: 15px 10px;
    text-align: center;
}

.strategic p {
    color: white;
    padding: 15px 0;
}

.freccia {
    text-align: center;
    background-color: #9792e4;
    padding: 10%;
    border-radius: 50%;
    
}

/*tablet*/

@media all and (min-width: 767px) {

    .strategic .row {
        margin: 3rem auto 3rem auto;
        padding: 2rem 0;
    }

    .strategic h2 {
        font-size: 40px;
    }
}


















/*sezione about-us*/

.about-us .row {
    width: 90%;
    margin: auto;
}

.about-us .col-foto {
    margin-top: 10px;
    text-align: left;
}

.about-us h2 {
    font-size: 35px;
    color: #9792e4;
}

.about-us p {
    padding: 2rem 0;
}

.about-us p {
    line-height: 200%;
}

.about-us img {
    position: relative;
    width: 40%;
    border-radius: 50%;
}

[attribute="posizione"] {
    position: absolute;
    z-index: 5;
}

.about-us h3 {
    font-size: 22px;
    color: #9792e4;
    margin-bottom: 20px;
}

.button-about-us {
    background-color: #9792e4;
    color: white;
    font-size: 12px;
}

/*tablet*/

@media all and (min-width: 767px) {

    .about-us .row {
        width: 90%;
        margin: auto;
        display: flex; 
    }

    .about-us .col-testo {
        width: 50%;
        margin-right: 10%;
    }

    .about-us .col-foto {
        width: 40%;
    }

    .about-us img {
        width: 60%;
    }
}
/*desktop*/
@media all and (min-width: 1199px) {

    .about-us .row {
        width: 75%; 
    }

    .about-us .col-foto {
        width: 35%;
    }

    .about-us img {
        width: 50%;
    }
}






/*footer*/

.end-start {
    background-color: #9792e4;
}

.end-start .container, .end-end .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 90%;
    margin: auto;
}

.end-start .container {
    min-height: 500px;
    margin-top: 40px;
}

.end-end .container {
    min-height: 200px;
}

footer span {
    color: #e3e1f7;
}

footer h2 {
    font-size: 28px;
    color: white;
}

footer h1 {
    color: #fdc15f;
    font-size: 60px;
}

footer .button-end {
    width: 70%;
    background-color: white;
    letter-spacing: 2px;
    padding: 15px 0;
    color: #9792e4;
    font-weight: bold;
    border-radius: 30px;
}

footer p, footer a{
    color: white;
}

.end-end a {
    color: #7c78b5;
}

footer .ending-font {
    font-size: 14px;
}

.end-end {
    background-color: #333333;
}

/*footer tablet*/

@media all and (min-width: 481px) {

    .end-start .container, .end-end .container {
        width: 70%;
    }

    footer .button-end {
        width: 50%;
    }

    footer h2 {
        font-size: 35px;
    }

    footer p {
        padding: 0 20px;
    }
}

/*footer desktop*/

@media all and (min-width: 1199px) {

    .end-start .container, .end-end .container {
        width: 30%;
    }
}